<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Galzroth</string>
	<key>ordering</key>
	<array>
		<string>F61A9B5A-A31E-45C0-8A08-968A50664CC3</string>
	</array>
	<key>uuid</key>
	<string>011FD2B0-254D-4848-A93E-92EFAA229271</string>
</dict>
</plist>
